<!DOCTYPE html>
<html>
  <head>
    <title>Eileen Jiang</title>
    <meta name="author(s)" content="Eileen Jiang" />
    <link rel="stylesheet" href="../static/fonts.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="../static/main.css" type="text/css" charset="utf-8">
    <link href='http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4Z4t0mJKPaLVqklzZuc32b4.woff' rel='stylesheet' type='text/css'>
    <style>a:visited{color:#191970;} a:hover{background-color:#191970; color:#FFF; transition:0.35s;}</style>
  </head>
  <body id="home">
    <header>
        <h1> Eileen Jiang <img src="../images/profpic1.jpg" class="picture"></h1>
        
        <br>
    </header>
    <div class="verticalLine">
      <div id="links" style="line-height:55px;">
        <p><a href="../../EileenJiangResume5.pdf" target="_blank">Resume.</a></p><br>
        <p><a href="https://github.com/Totofufu" target="_blank">Github.</a></p><br>
        <p><a href="https://www.linkedin.com/pub/eileen-jiang/79/47b/a87/" target="_blank">LinkedIn.</a></p><br>
      </div>
    </div>
    <div id="about">
      <h4 style="line-height: 28px; color:#171790">
        <p>Hi! My name's Eileen, and I grew up in Pleasanton, California.</p><br>
        <p>I'm a sophomore majoring in Computer Science and minoring in Human-Computer Interaction & Biomedical Engineering at Carnegie Mellon University in Pittsburgh, PA. I especially like backend development, but I'm open to trying out lots of different things, as I'm still looking for my forte.</p><br>
        <p>In my free time, I like singing, playing the piano and ukulele, and making nylon flowers.</p><br>
        <p>You can contact me at yuanj@andrew.cmu.edu or 925-330-8532.</p></h4>
    </div>
  </body>
</html>